-
  var mainMenu = [
    {
      "id": "0",
      "name": "Услуги",
      "url": "/"
    },
    {
      "id": "2",
      "name": "Портфолио",
      "url": "/"
    },
    {
      "id": "3",
      "name": "Юристы",
      "url": "/"
    },
    {
      "id": "4",
      "name": "Цены",
      "url": "/"
    },
    {
      "id": "5",
      "name": "О нас",
      "url": "/"
    },
    {
      "id": "6",
      "name": "Контакты",
      "url": "/"
    }
  ];
